 * { box-sizing:border-box; -ms-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }

body {
    background-color: $color-grey-light;
    color: #FFF;
    font-family: $font-normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-normal;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}

p {
	margin-top: 0;
	margin-bottom: 20px;
}

img {
	display: block;
	max-width: 100%;
}

ul {
    padding-left: 0;
}

.component {
	margin-bottom: 30px;

    &.no-margin-bottom {
        margin-bottom: 0;
    }

    h2.title {
        font-size: 20px;
        font-weight: 700;
        color: $color-grey-extra-light;
        text-align: center;
        margin: 30px 0;
    }
}
.container {

}

.width-limit {
	max-width: $max-width;
	margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}


.slick-arrow {
    width: 35px;
    height: 35px;
    @include rounded(50%);
    background-color: $color-white;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 0;
    text-indent: -9999px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -17px;
    @include transition(all 1s);
    @include opacity(1);

    &:hover {
        @include opacity(.5);
    }

    &:after,
    &:before {
        content: '';
        display: block;
        width: 12px;
        height: 2px;
        background: $color-blue;
        position: absolute;
        top: 17px;
        left: 10px;
        @include transform( rotate(-45deg) );
    }
    
    &:before {
        top:13px;
    }

    &:after {
        top: 20px;
        @include transform( rotate(45deg) );
    }

    &.slick-prev {
        @include transform( translateX(-40px) );
    }

    &.slick-next {
        @include transform( translateX(40px) rotate(180deg) );
    }
}

blockquote {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
      content: open-quote;
      margin-right: 5px;
    }

    &:after {
        content: close-quote;
        margin-left: 5px;
    }
}

.author {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    display: block;
}