$color-grey-extra-light: #333333; //font color
$color-grey-light: #efefef; //body bg
$color-grey: #737373; //dots
//$color-grey: #c7c7c7; //dots
$color-grey-dark: #2d2f30; //footer upper half
$color-grey-extra-dark: #1b1c1d; //footer lower half
$color-grey-footer-nav-border: #353738;
$color-yellow: #ffd900;
$color-blue: #004fb6;
$color-green: #59b337;
$color-white: #FFF;

$color-upper-footer-text: $color-white;
$color-lower-footer-text: #5a5a5a;

/*******************************
*	Color classes
*******************************/

.bg-green {
	background-color: $color-green;
}

.bg-yellow {
	background-color: $color-yellow;
}

.bg-blue {
	background-color: $color-blue;
}

.color-blue {
	color: $color-blue;
}

.color-white {
	color: $color-white;
}

.color-grey {
	color: $color-grey-extra-light;
}