.container > .column-control {
	
}

.column-control {
	margin-bottom: 10px;

	@media(min-width: $breakpoint-tablet) {
		margin-bottom: 30px;
	}
	
	.row {
		
	}
}

.column-container {
	//@include clearfix();
	
	@media(min-width: $breakpoint-tablet) {
		margin-left: -15px;
		margin-right: -15px;

		@include flex();
	    @include flex-direction(row);
	    @include flex-wrap(nowrap);
	    @include flex-alignitems(stretch);
	    //@include flex-justifycontent(space-between);
    }

	
    &.flex-col {
    	@include flex-direction(column);
    }
}

.column {
	
	@media(min-width: $breakpoint-tablet) {
		margin-left: 15px;
		margin-right: 15px;
	}

	@media(max-width: $breakpoint-tablet - 1) {
		width: 100% !important;
    }
}

/*
.column-2 { width: 16.666666%; }
.column-4 { width: 33.333333%; }
.column-6 { width: 50%; }
.column-8 { width: 66.666666%; }
.column-10 { width: 83.333333%; }
.column-12 { width: 100%; }
*/

.column-2 { 
	width: calc(16.666666% - 30px); 
}
.column-4 { 
	width: calc(33.333333% - 30px); 
}
.column-6 { 
	width: calc(50% - 30px); 
}
.column-8 { 
	width: calc(66.666666% - 30px); 
}
.column-10 { 
	width: calc(83.333333% - 30px); 
}
.column-12 { 
	width: calc(100% - 30px); 
}
