// Istok Web is similar font to Frutiger.  400: Normal, 700: Bold
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700');

$font-normal: 'Istok Web', Arial, sans-serif;
$font-bold: 'Istok Web', Arial, sans-serif;

$font-size-content: 14px;

$font-size-hero-cta: $font-size-content;
$font-size-hero-cta_tablet: 12px;

$font-size-hero-title: 76px;
$font-size-hero-subtitle: 20px;

$font-size-hero-title_tablet: 32px;
$font-size-hero-subtitle_tablet: 18px;

/*
$icon-font-path: "fonts/";
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

$fa-font-path: "fonts/";
@import 'font-awesome/scss/font-awesome';
*/