/***********************
 * Loading animation
 ***********************/

 .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $color-white;
  border-radius: 100%;
  display: inline-block;
  @include animation(sk-bouncedelay 1.4s infinite ease-in-out both);
}

.spinner .bounce1 {
  @include animationdelay(-0.32s);
}

.spinner .bounce2 {
  @include animationdelay(-0.16s);
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}