/* ==========================================================================
   Size
   ========================================================================== */

$max-width: 960px;

/* ==========================================================================
   Breakpoints
   ========================================================================== */

$breakpoint-mobile: 320px;
$breakpoint-phone: 600px;
$breakpoint-tablet: 960px;
$breakpoint-desktop: 1280px;

/* INFO:
xs (for phones - screens less than 768px wide)
sm (for tablets - screens equal to or greater than 768px wide)
md (for small laptops - screens equal to or greater than 992px wide)
lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/