.hero {
	position: relative;
	height: 460px;
	overflow: hidden;

	@media(min-width: $breakpoint-tablet) {
		height: auto1;
	}

	&-type--image {

	}

	&-image {
		height: 100%;

		&_img { // img
			max-width: initial;
			width: auto;
			height: 100%;
			position: absolute;
			left: 50%;
			@include transform( translateX(-50%) );

			@media(min-width: $breakpoint-tablet) {
				width: 100%;
				height: auto;	
				position: relative;
				left: 0;
				@include transform( none );
			}
		}
	}

	&-content {
		width: 100%;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform( translate(-50%, -50%) );

		&-h3 { // h3
			font-size: $font-size-hero-subtitle_tablet;
			margin-bottom: 10px;

			@media(min-width: $breakpoint-tablet) {
				font-size: $font-size-hero-subtitle;
			}
		}

		&-h2 { // h2
			font-size: $font-size-hero-title_tablet;
			
			@media(min-width: $breakpoint-tablet) {
				font-size: $font-size-hero-title;
			}
		}
	}

	.btn-cta {
		padding: 25px 30px;
		background: $color-yellow;
		font-family: $font-bold;
		font-weight: 700;
		font-size: $font-size-hero-cta_tablet;
		text-transform: uppercase;
		color: $color-blue;
		outline: none;
		border: 0;
		cursor: pointer;
		-webkit-appearance: none;
		@include rounded(8px);
		@include transition(all .5s);
		@include opacity(1);

		@media(min-width: $breakpoint-tablet) {
			padding: 25px 45px;
			font-size: $font-size-hero-cta;
		}
			
		&--active,
	    &:hover {
	    	@include opacity(.8);
        }
	}
}