.video-component {
	position: relative;

	&-image {
		&_img { // img
			width: 100%;
		}
	}

	&-link {
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform( translate(-50%, -50%) );

		&_play { // a
			display: block;
			width: 45px;
			height: 45px;
			text-indent: -9999px;
			background: url(../images/svg/play-button.svg) no-repeat center;
			background-size: 100%;
			outline: none;
			@include transition(all .5s);
			@include transform( scale(1) );

			@media(min-width: $breakpoint-tablet) {
				width: 90px;
				height: 90px;
			}

			&:hover {
				@include transform( scale(1.1) );
			}
		}
	}
}