.teaser {
	margin-bottom: 10px;
	position: relative;

	@media(min-width: $breakpoint-tablet) {
		margin-bottom: 30px;
	}

	&:hover {
		.teaser-image_img {
			@include transform( scale(1.1) );

			@media(min-width: $breakpoint-tablet) {
				@include transform( translateX(-50%) scale(1.1) );
			}
		}
	}

	.column & {
		&:last-child {
			@media(min-width: $breakpoint-tablet) {
				margin-bottom: 0;
			}
		}
	}

	&-bg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		z-index: -1;

		&_img { // img
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			@include transform( translateY(-50%) );
		}
	}

	&-image {
		position: relative;
		overflow: hidden;

		@media(min-width: $breakpoint-phone) {
			height: 300px;
		}


		&_img { // img
			width: 100%;
			@include transition(transform 1s);
			@include transform( scale(1) );

			@media(min-width: $breakpoint-tablet) {
				width: auto;
				max-width: 100vw;
				height: 100%;
				position: absolute;
				left: 50%;
				@include transform( translateX(-50%) scale(1) );
			}
		}
	}

	&-content {
		padding: 30px 15px;
		text-align: center;

		@media(min-width: $breakpoint-phone) {
			padding: 40px 25px;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		small {

		}

		ul { // .download-list
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;

			li {
				display: inline-block;
				img {
					border: 0;
					outline: none;
				}
			}
		}
		
	}
	

	.download-list { // ul
		&-item {
			img {
				width: auto;
				height: 40px;
			}
		}
	}
	
	.teaser-link {
		&_cta {
			color: inherit;
			font-size: 16px;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			text-align: left;
			display: block;
			position: relative;

			&:hover {
				text-decoration: underline;
			}

			span {
				display: block;
				width: 36px;
			    height: 36px;
			    @include rounded(50%);
			    background-color: $color-white;
			    position: absolute;
			    top: 50%;
			    right: 0;
			    margin-top: -18px;

				&:after,
			    &:before {
			        content: '';
			        display: block;
			        width: 14px;
			        height: 2px;
			        background: $color-blue;
			        position: absolute;
			        top: 17px;
			        left: 11px;
			    }
			    
			    &:before {
			    	width: 2px;
			    	height: 14px;
			        top: 11px;
			        left: 17px;
			    }

			    &:after {
			    }
			}

			&-text {

			}

			&-symbol {

			}

			&-bottom {
				position: absolute;
				width: 100%;
				text-align: center;
				bottom: 30px;
				padding: 10px 0;
				text-align: center;

				span {
					left: 50%;
					right: auto;
					margin-left: -18px;
				}
			}

		}

	}
	
}

#teaser-01,
#teaser-05 {

	@media(min-width: $breakpoint-tablet) {
		height: 300px;
	}
}

#teaser-02,
#teaser-04 {
	height: 300px;
}

#teaser-03,
#teaser-07 {
	@media(min-width: $breakpoint-tablet) {
		height: 400px;
	}
}

#teaser-06 {
	height: 400px;
}

#teaser-01 {
	overflow: hidden;
	&:hover {
		.teaser-image {
			@include transform( rotate(10deg) );
		}
	}

	.teaser {

		&-image {
			display: none;
			position: absolute;
			top: 25px;
			right: -30px;
			width: 243px;
			height: 484px;
			@include transition(transform 1s);
			@include transform( rotate(0deg) );


			@media(min-width: $breakpoint-tablet) {
				display: block;
			}
		}

		&-content {
			text-align: left;

			@media(min-width: $breakpoint-tablet) {
				width: 50%;
			}
		}
	}
}

#teaser-02,
#teaser-04,
#teaser-06 {
	@include flex();
    @include flex-alignitems(center);
}

#teaser-06 {
	&:before {
		content: '';
		display: block;
		width: 60px;
		height: 60px;
		position: absolute;
		left: 50%;
		top: 60px;
		margin-left: -30px;
		background: url(../images/svg/icon-heart.svg) center no-repeat;
		background-size: 100%;
	}
}