header {
	background-color: $color-white;
    @include clearfix;

    @media(min-width: $breakpoint-tablet) {

    }

    /*********************
    *   Mobile menu trigger
    *********************/

    .toggle-nav { 
        float: left;
        background: $color-white; 
        border: none; 
        display: block; 
        height: 55px; 
        width: 55px; 
        overflow: hidden; 
        outline: none; 
        z-index: 1001; 
        position: relative;
        cursor: pointer;
        @include transition(all 0.3s);

        @media screen and (min-width: $breakpoint-tablet) {
            display: none;
        }

        &-span { 
            background: $color-blue; 
            display: block; 
            height: 3px; 
            position: absolute; 
            top: 28px; 
            left: 15px; 
            right: 15px; 
            @include transition(all 0.3s);
             
            &::before, 
            &::after { 
                background: $color-blue; 
                display:block; 
                height: 3px; 
                width: 100%; 
                content: ''; 
                position: absolute; 
                left: 0; 
                @include transitionduration(0.3s, 0.3s); 
                @include transitiondelay(0.3s, 0s); 
            }

            &::before { 
                top: -7px;
                -webkit-transition-property:top, -webkit-transform; 
                -moz-transition-property:top, -moz-transform; 
                transition-property:top, transform; 
            }

            &::after { 
                bottom: -7px; 
                -webkit-transition-property:bottom, -webkit-transform; 
                -moz-transition-property:bottom, -moz-transform; 
                transition-property:bottom, transform; 
            }
            
            .mobilemenu-open & {
                background: none;

                &::before { top:0; @include transform(rotate(45deg)); }
                &::after { bottom:0; @include transform(rotate(-45deg)); }
                &::before, 
                &::after { @include transitiondelay(0s, 0.3s); }
            }
        }
    }


    .logo { // a
    	display: inline-block;
    	background-color: $color-yellow;
        float: left;

		&-image { // img
			display: block;
			height: 25px;
			margin: 15px;
            outline: none;
            border: 0;

            @media screen and (min-width: $breakpoint-tablet) {
                margin: 20px 30px;
            }
		}
    }

    nav {
        a {
            position: relative;
            

        }
    }

    .main-navigation {
        display: none;
        position: fixed;
        width: 100%;
        top: 55px;
        background: white;
        z-index: 1000;
        text-align: center;

        @media(min-width: $breakpoint-tablet) {
            display: block;
            float: left;
            position: relative;
            width: auto;
            top: 0;
            text-align: left;
        }

        .mobilemenu-open & { // mobile menu
            display: block;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;

            &-item {
                list-style: none;
                display: inline-block;
                font-size: 0;
                padding: 12px 0;

                & + li {
                    a {
                        border-left: 3px dotted $color-grey;    
                    }
                }

                &-link {
                    font-size: 14px;
                    text-decoration: none;
                    color: $color-blue;
                    display: block;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    position: relative;

                    @media(min-width: $breakpoint-tablet) {
                        padding: 10px 40px;
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        display: block;
                        border-bottom: 1px dotted $color-blue;
                        @include transition(all .5s);
                        @include opacity(0);
                        @include transform( translateY(5px) );
                    }

                    &:hover {
                        &:after {
                            @include opacity(1);
                            @include transform( translateY(0) );
                        }
                    }
                }
            }
        }
    }
    
    
    .interactive-navigation {
        float: right;
        
        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            &-item {
                list-style: none;
                display: inline-block;
                font-size: 0;
                padding: 7px 0;

                @media(min-width: $breakpoint-tablet) {
                    padding: 12px 0;
                }

                & + li {
                    display: none;

                    @media(min-width: $breakpoint-tablet) {
                        display: inline-block;
                    }

                    a {
                        border-left: 3px dotted $color-grey;    
                    }
                }

                            
                &-link {
                    font-size: 14px;
                    text-decoration: none;
                    color: $color-blue;
                    display: block;
                    padding: 10px 40px;
                    text-transform: uppercase;
                    position: relative;
                    @include transition(color .5s);

                    &:hover {
                        color: $color-yellow;
                    }
                    
                    &.contactus,
                    &.search,
                    &.login {
                        &:before {
                            content: '';
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background-size: 100%;
                            vertical-align: middle;
                        }
                    }
                    &.contactus {
                        &:before {
                            background: url(../images/svg/icon-phone.svg) center no-repeat;
                            background-size: 100%;
                        }
                    }

                    &.search {
                        &:before {
                            background: url(../images/svg/icon-search.svg) center no-repeat;
                            background-size: 100%;
                        }
                    }

                    &.login {
                        &:before {
                            background: url(../images/svg/icon-login.svg) center no-repeat;
                            background-size: 100%;
                            margin-right: 14px;
                        }
                    }
                }
            }
        } 
    }
    

}
