header {
	background-color: $color-white;
    @include flex();
    @include flex-direction(row);
    @include flex-wrap(nowrap);
    @include flex-alignitems(center);
    @include flex-justifycontent(space-between);

    @media(min-width: $breakpoint-tablet) {

    }

    .toggle-nav {
        @include flex-order(0);

    	&-span {

    	}
    }

    .logo { // a
    	display: inline-block;
        @include flex-order(1);
    	background-color: $color-yellow;

		&-image { // img
			display: block;
			height: 25px;
			margin: 20px 30px;
		}
    }

    nav {
        width: 100%;
        @include flex-order(2);

        @include flex();
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include flex-alignitems(center);
        @include flex-justifycontent(space-between);
    }

    .main-navigation-list {
        list-style: none;
        margin: 0;
        padding: 0;

    	&-item {
    		list-style: none;
    		display: inline-block;
    		font-size: 0;

            & + li {
                a {
                    border-left: 3px dotted $color-grey;    
                }
            }

    		&-link {
				font-size: 14px;
				text-decoration: none;
				color: $color-blue;
                display: block;
                padding: 10px 40px;
                text-transform: uppercase;
    		}
    	}
    }
    
    .interactive {
        @include flex-order(3);
    }

    .interactive-navigation-list {
        list-style: none;
        margin: 0;
        padding: 0;

    	&-item {
    		list-style: none;
            display: inline-block;
            font-size: 0;

            & + li {
                a {
                    border-left: 3px dotted $color-grey;    
                }
            }

                		
    		&-link {
    			font-size: 14px;
                text-decoration: none;
                color: $color-blue;
                display: block;
                padding: 10px 40px;
                text-transform: uppercase;
                position: relative;
                
                &.contactus,
                &.search,
                &.login {
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-size: 100%;
                        vertical-align: middle;
                    }
                }
                &.contactus {
                    &:before {
                        background: url(../images/svg/icon-phone.svg) center no-repeat;
                        background-size: 100%;
                    }
                }

                &.search {
                    &:before {
                        background: url(../images/svg/icon-search.svg) center no-repeat;
                        background-size: 100%;
                    }
                }

                &.login {
                    &:before {
                        background: url(../images/svg/icon-login.svg) center no-repeat;
                        background-size: 100%;
                        margin-right: 14px;
                    }
                }
    		}
    	}
    }

}
