.featured-content {
	

	&-list {
		//margin-left: -15px;
		//margin-right: -15px;

		&-item {
			width: 100%;
			
			&:hover {
				img {
					@include transform( scale(1.1) );
				}
			}
			
			display: inline-block;

			&-wrapper {
				padding-left: 10px;
				padding-right: 10px;

				@media(min-width: $breakpoint-tablet) {
					padding-left: 15px;
					padding-right: 15px;
    			}
			}

			&-label {
				position: absolute;
				left:20px;
				bottom: 20px;
				text-transform: uppercase;
				font-size: 20px;
				color: $color-white;
				font-style: italic;
				font-weight: 700;
			}

			&-img {
				position: relative;
				overflow: hidden;

				&_img { // img
					width: 100%;
					@include transition(transform 1s);
					@include transform( scale(1) );
				}
			}

			&-content {
				padding: 30px 25px;
				background-color: $color-white;

				h3 {
					font-size: 16px;
					font-weight: 700;
					color: $color-blue;
					text-transform: uppercase;

					a {
						color: inherit;
						text-decoration: none;
					}
				}

				p {
					color: $color-grey-extra-light;
					font-size: 16px;
				}
			}
		}
	}
}