.feedbacks {
	&.slick-slider {
		margin: 0;

		.slick-list {
			padding: 80px 0 100px !important;

			@media(min-width: $breakpoint-tablet) {
				padding: 0 !important;
				position: absolute;
				left: 0; 
				right: 0;
				top: 50%;
				@include transform( translate3d(0, -50%, 0) );
			}

			&:after {
				content: '';
				display: block;
				width: 30%;
				border-bottom: 1px solid $color-white;
				margin: 20px auto;
				@include opacity(.3);
			}
		}
	}
}