footer {
	background: $color-grey-dark;
}

.footer {

	&-container {
		@include clearfix();
		padding: 0 25px;

		@media (min-width: $breakpoint-phone) {
			padding: 60px 15px;
		}
	}

	&-copyright {
		background-color: $color-grey-extra-dark;
		color: $color-lower-footer-text;
		padding-top: 25px;
		padding-bottom: 25px;

		&-container {
			padding-left: 25px;
			padding-right: 25px;

			@media (min-width: $breakpoint-phone) {
				padding-left: 15px;
				padding-right: 15px;				
			}
		}

		p {
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	/*************************
	*	Footer's real content
	**************************/

	&-nav {
		width: 100%;
		float: left;

		@media(min-width: $breakpoint-tablet) {
			width: 60%;
		}

		&-col {
			float: left;
			width: 100%;


			@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet - 1) {
				width: 50%;
				margin-bottom: 40px;

				&:nth-child(odd) {
					clear: both;
				}
			}

			@media(min-width: $breakpoint-tablet) {
				width: 25%;
			}
		}

		&-header {
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 0;
			padding: 25px 0;
			cursor: pointer;
			position: relative;
			border-top: 1px solid $color-grey-footer-nav-border;
			border-bottom: 1px solid $color-grey-footer-nav-border;

			&:hover {
				color: $color-yellow;
			}

			@media (min-width: $breakpoint-phone) {
				margin-bottom: 25px;
				padding: 0;
				border: 0;
			}

			span {
				display: block;
				width: 36px;
			    height: 36px;
			    position: absolute;
			    top: 50%;
			    right: 0;
			    margin-top: -18px;

			    @media (min-width: $breakpoint-phone) {
			    	display: none;
			    }

				&:after,
			    &:before {
			        content: '';
			        display: block;
			        width: 14px;
			        height: 2px;
			        background: $color-white;
			        position: absolute;
			        top: 17px;
			        left: 11px;
			    }
			    
			    &:before {
			    	width: 2px;
			    	height: 14px;
			        top: 11px;
			        left: 17px;

			        .accordion-open & {
			        	display: none;
			        }
			    }

			    &:after {
			    }
			}

		}

		&-list {
			list-style: none;
			display: none;

			@media (min-width: $breakpoint-phone) {
				display: block;
			}

			.accordion-open & {
				display: block;
			}

			&-item {
				color: $color-white;
				font-size: 13px;
				margin-bottom: 10px;
				padding-right: 20px;

				&:hover {
					color: $color-yellow;
				}

				a {
					color: inherit;
					text-decoration: none;
					font-size: inherit;
				}
			}
		}

	}

	&-social {
		width: 100%;
		float: left;
		display: none;

		@media (min-width: $breakpoint-phone) {
			display: block;
		}

		@media(min-width: $breakpoint-tablet) {
			width: 40%;
		}

		&-header {
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 25px;
		}

		&-list { // ul
			list-style: none;
			font-size: 0;

			&:hover {
				a {
					@include opacity(.3);
				}
			}

			&-item { // li
				display: inline-block;
				width: 40px;
				height: 40px;
				//text-indent: -9999px;
				margin-right: 14px;

				
				a {
					display: block;
					width: 100%;
					height: 100%;
					border: 1px solid $color-white;
					@include rounded(50%);
					@include transition(opacity .5s);
					@include opacity(1);

					&:hover {
						@include opacity(1);
					}

					&.icon-twitter,
					&.icon-facebook,
					&.icon-googleplus,
					&.icon-pinterest,
					&.icon-youtube {
						background: transparent url(../images/svg/social/Twitter.svg) center no-repeat;
						background-size: 20px;
					}
				}
			}
		}
	}
}

